{
    "presets": ["es2015", "stage-0", "react", "react-app","stage-1"],
    "plugins": [
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css"
        }]
    ]
}