@import "../base.less";

.wrap-container {
  .header {
    background-color: lightslategray;
    height: 50px;
    .rotate {
      margin-top: -15px;
      height: 40px;
      animation: rotateIcon infinite 20s linear;
    }
    span{
      position: absolute;
      top: -5px; 
      color: #fff;
      font-size: 20px;
    }
  }
}
